# Project Configurations
PROJECT_TITLE="App Release API"
PROJECT_DESCRIPTION="The App Release API is a robust NestJS-powered service built to seamlessly fetch and consolidate the latest version details of mobile applications from both the Google Play Store and Apple App Store. Designed for developers, product teams, and monitoring tools, this API offers a unified endpoint that enables effortless tracking, comparison, and validation of app release information across major platforms. By abstracting away platform-specific complexities, the App Release API delivers clean, structured, and platform-agnostic data, such as version numbers, release dates, changelogs, and store metadata empowering teams to automate update checks, enforce version compliance, and enhance CI/CD workflows for mobile apps."
PROJECT_VERSION="1.0.0"

# App Configurations
PORT=5000